body {
    background-color: black;
    font-family: American Typewriter, serif;
}

div {
    background-color: white;
    margin: auto;
    padding: 40px;
    width: 975px;
}

header, footer {
    font-family: Snell Roundhand, cursive;
    text-align: center;
}

nav img {
    height: 90px;
    width: 100px;
}

nav a {
    padding: 5px;
}

nav ul {
    text-align: center;
}

nav li {
    display: block;
    list-style-type: none;
    margin: 5px;
    padding-bottom: 20px;
}

.button {
    height: 35px;
    width: 35px;
}

#book-cover {
    float: left;
    padding-bottom: 150px;
    padding-right: 40px;
    padding-top: 20px;
}

section ul {
    list-style-type: none;
}