body {
    background-color: lawngreen;
    color: white;
    font-family: Marker Felt, fantasy;
    font-size: 24px;
}

header {
    color: darkorange;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
    padding-bottom: 20px;
}

div img {
    float: left;
    height: 400px;
}

#social-media {
    display: inline-block;
}

#goofin {
    font-size: larger;
    color: darkorange;
}